<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.français- touchedeclavier.com</string>
	<key>CFBundleName</key>
	<string>Français - ToucheDeClavier.com</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>KLInfo_Français - ToucheDeClavier.com</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.français- touchedeclavier.com.français-touchedeclavier.com</string>
		<key>TISIntendedLanguage</key>
		<string>fr-FR</string>
	</dict>
</dict>
</plist>
